

.header {
    background: var(--bg-100) !important;
    color: #f1f1f1 !important;
}

.logo {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    width: 100px;
}

.navbar {
    padding: 0 20px !important;
    background-color: var(--bg-100); 
    color: var(--text-200);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 20px !important;
}

.nav-links {
    list-style: none;
    margin-right: 20px !important;
}
.nav-links li {
    display: inline;
    font-family: 'oxygen';
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-200);
}

.nav-links a:hover {
    color: var(--green-accent);
}

@media screen and (max-width: 700px) {
    .nav-links {
        display: none;
    }
}



footer {
    font-family: 'oxyen';
    background-color: var(--bg-100);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-100);
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav {
    text-align: right;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
nav a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 45%;
    overflow: hidden;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  label {
    margin-bottom: 8px;
    color: #555;
  }
  #contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  input, textarea {
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button {
    padding: 12px;
    background-color: var(--bg-100);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #contact-form{
    color: #fff
  }
  h1, h2, h4, p {
    font-family: 'Oxygen';
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: 34px;
    margin: 0 !important;
}
#contact{
    color: black;
}
#paragraph{
    color: #fff;

}
.banner-text{
    height: 25rem;
}
#contact-info{
       font-weight: 100;
       position: static;
       overflow: auto;   
      
}
#asd{
    margin-bottom: 70px;
}