@import url('index.css');

footer {
    font-family: 'oxyen';
    background-color: var(--bg-100);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-100);
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
