@import url('index.css');

.header {
    background: var(--bg-100) !important;
    color: #f1f1f1 !important;
}

.logo {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    width: 100px;
}

.navbar {
    padding: 0 20px !important;
    background-color: var(--bg-100); 
    color: var(--text-200);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 20px !important;
}

.nav-links {
    list-style: none;
    margin-right: 20px !important;
}

.nav-links li {
    display: inline;
    font-family: 'oxygen';
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-200);
}

.nav-links a:hover {
    color: var(--green-accent);
}

@media screen and (max-width: 700px) {
    .nav-links {
        display: none;
    }
}