@import url('https://fonts.cdnfonts.com/css/oxygen');

:root {
    --primary-100:#FFFFFF;
    --primary-200:#e0e0e0;
    --primary-300:#9b9b9b;
    --primary-400:rgb(249, 250, 251);
    --green-accent: rgb(32, 191, 107);
    --accent-100:#FF6F00;
    --accent-200:#8d0000;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#1D216B;
    --bg-200:#32307d;
    --bg-300:#50499a;
}


#pagecontainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
}

.banner {
    background-color: var(--bg-100);
    padding: 0;
}

.banner-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-align:center;
}

.banner-text {
    width: 80% !important;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Oxygen';
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: 34px;
    margin: 0 !important;
}

.green-accent {
    color: var(--green-accent) !important;
}

.bg-text {
    color: var(--primary-400);
}

h3 {
    line-height: 16px;
    font-weight: 400;
    font-size: 16px;
}

h4 {
    line-height: 12px;
    font-weight: 400;
    font-size: 12px;
    margin: 10px 0 !important;
}

body {
    background-color: var(--primary-400);
    margin: 0;
    min-height: 100vh;
    height: 100%;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.giant-text {
    font-family: 'oxygen';
    font-size: 60px;
    text-align: center;
    color: var(--bg-100);
    font-weight: 900;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.video {
    display: flex;
    justify-content: center;
    padding: 20px !important;
}

.text-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

video {
    border-radius: 10px;
}

.bg-back {
    background-color: var(--primary-400);
    padding: 20px;
}

.our-service-header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card {
    background-color: var(--primary-100);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    width: fit-content;
    border-radius: 10px !important;
}

.grid-bb {
    margin-bottom: 20px !important;
    padding-bottom: 200px !important;
}

.a-text {
    text-decoration: none;
    color: var(--green-accent);

}

.card-widther {
    width: 90% !important;
    padding: 10px;
}

.card-content {
    display: flex;
    justify-content: center;
}

.card > img {
    max-width: 100%;
    height: auto;
    display: block; 
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.button {
  align-items: center;
  background-color: var(--green-accent);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: var(--primary-400);
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: 'oxygen';
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-primary {
    background-color: var(--green-accent);
}

.margin-l {
    margin-left: 10px;
}
.margin-t {
    margin-top: 50px;
}
.margin-b {
    margin-bottom: 50px;
}

.btn-secondary {
    background-color: transparent;
    color: var(--green-accent);
    border: 2px solid var(--green-accent);
    opacity: .85;
}
.btn-secondary:hover {
    opacity: 1 !important;
}

.button:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.button:active {
  outline: 0;
}

.button:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .button {
    height: 48px;
  }
}

main {
    margin-bottom: 50px;
}

.content {
    margin-top: -10px;
    width: 100%;
    background-color: var(--primary-400);
}

.image-info {
    display: flex;
    justify-content: center;
    width: 400px;
}

.content-box {
    display: flex;
    justify-content: space-between;
    padding-left: 40px !important;
    padding-right: 40px !important;
    margin-bottom: 40px !important;
}

.content-box-item {
    width: 50%;
}

.input {

    color: rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.42);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 16px 6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    background: rgb(245, 245, 245);
    height: 56px;
    :hover{
        border-bottom-color: rgba(0,0,0,.87);
        background: #ececec;
    }
    :focus{
        border-color: #6200ee;
    }

}

.input-area {
    color: rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.42);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 16px 6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    background: rgb(245, 245, 245);
    :hover{
        border-bottom-color: rgba(0,0,0,.87);
        background: #ececec;
    }
    :focus{
        border-color: #6200ee;
    }
}

.new-h3 {
    font-size: 30px;
    line-height: 40px;
}

.image-info > img{
    width: 100%;
    overflow: hidden;
    border: 10px solid var(--bg-300);
    border-radius: 10px;
}

.padding-t {
    padding-top: 40px;
}

@media screen and (min-width: 1400px) {
    .banner-text {
        margin-top: 30px !important;
    }
}
@media screen and (max-width: 600px) {
    .banner-text {
        width: 500px !important;
    }

    .image-info {
        display: none;
    }

    .banner {
        padding-top: 200px !important;
        padding-right: 30px !important;
        padding-left: 30px !important;
        padding-bottom: 80px !important;
    }

    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
    }
    .image-main {
        display: none;
    }

    .content-box-item {
        width: 100%;
    }
}

@media screen and (max-width: 1400px) {

    .image-main {
        width: 100%;
    }

    .content-box-item {
        width: 100%;
    }

    .image-info {
        display: none;
    }
}